{{> header}}
<div class="container">
	<div class="row m-0 mt-3">
		<div class="col-6">
            <form id="searchForm" class="d-flex" method="post">	
            	<select id="searchField" class="form-select" required>
            		<option value="">Field</option>
					<option value="id">Id </option> 
					<option value="firstname">Firstname </option> 
					<option value="lastname">Lastname </option> 
					<option value="gender">Gender </option> 
					<option value="phone_no">Phone Nubmer </option> 
					<option value="email">Email </option> 
					<option value="city">City </option> 
					<option value="updated_at">Time </option> 
            	</select>
            	<input type="text"  id="search-q" placeholder="Search..." class="form-control" required>
            	<button type="submit" class="nav-item btn btn-primary ">Search</button>
			</form>
        </div>
		<div class="col-6">
        	<button type="submit" form="deleteContacts" id="deleteSelected" onclick="return confirm('Are you sure you want to delete selected contacts?');" disabled="" class="nav-item  btn btn-danger float-end">Delete Selected</button>
            <button id="resetAll" style="display: none;" class="btn btn-danger">Reset ALL</button>
        </div>
    </div>
	<div class="row mt-3 contact">	
	 	<!-- <form method='post' action='/deleteContacts' id="deleteContacts" > -->
	 	    <table border=1 width='100%' class='p-2 ' id="contactsTable">
				 	{{> contacts}}
            </table>
	 	<!-- </form> -->
	</div>
</div>
{{> footer}}
	